body {
    background:#fff3db ;
    font-family: sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

header h1 {
    background: #f02425;
    text-transform: uppercase;
    color: white;
}

header{
    text-align: center;
}

img {
    max-width: 100%;
}

h2 {
    color: #f02425;
}

h3 {
    font-style: italic;
    text-decoration: underline;
}

a {
    font-weight: bolder;
}

strong, span {
    color: #f02425;
}

.astuce {
    font-style: italic;
    font-size: 0.7rem ;
    background-color: #fed48a;
    color: 676766;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}